.slick-slider{
    height: 100%;
    position: relative;
}
.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-slide{
    height: 100%;
    width: 100%;
}
.slick-slide>div{
    height: 100%;
}