.sidebar-button {
  color: #f2f2f2;
  width: 60%;
  font-size: 12px;
  font-family: 'Poppins';
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  border: none;
  padding: 8px;
  margin: 2px 0;
  gap: 10px;
  transition:
    border-radius 0.3s,
    margin 0.3s;
}

.sidebar-button:hover {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 5px;
  margin: 10px 0;
}

.sidebar-button-active {
  width: 60%;
  font-size: 12px;
  font-family: 'Poppins';
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  border: none;
  padding: 8px;
  gap: 10px;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 5px;
}
